<div >
  <center>
    <h1 class="line1">
      Who are you?
    </h1>


  <br>
  <%= link_to "User", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Admin", admin_signup_path, class: "btn btn-large btn-primary" %>
  </center>

</div>