<div >
  <center>
  <h1 class="line">Welcome</h1> <br>
 <!-- <img src="http://naricentralva.org/2013sideimages/welcome.png" style="max-width: 200%"> -->
  <br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> </center>


</div>