<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @alias %>
      <h1> <center>
        <%= @admin.name %>
      </center> </h1>
    </section>
  </aside>
</div>