<% provide(:title, 'All users') %>
<h1> <center> All users </center> </h1>


<div class="pagination">

<ul class="users">
  <section>
    <%= image_tag @user.avatar.url("medium") %>
      <h1>
         <center>
           <%= @user.name %>
           <%= @user.surname %> <br>
         </center>
      </h1>
  </section>
</ul>
</div>

