<% provide(:title, 'All users') %>
<h1> <center> All users </center> </h1>

<ul class="users">
  <section>
    <%= will_paginate @users %>
    <%= image_tag @user.avatar.url %>
    <%= @user.name %>
    <%= @user.surname %> <br>
  </section>
</ul>

