<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">Next</a></li>
<ul class="users">
     <%= render @users %>
</ul>

<%= will_paginate %>