<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1> <center>
        <%= @user.name %>
        <%= @user.surname %>
      </center> </h1>
    </section>
  </aside>
</div>