<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1> <center>
        <p>
          <strong>Avatar:
          </strong>
          <%= image_tag @user.avatar.url(:large) %>
        </p>
        <%= @user.name %>
        <%= @user.surname %>
      </center> </h1>
    </section>
  </aside>
</div>