<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1> <center>
        <%= @user.name %>
        <%= @user.surname %> <br>

      </center> </h1>
    </section>
  </aside>
</div>